In [1]:
import pandas as pd
male = pd.read_csv('movies_clean.csv')
#fem_250 = pd.read_csv("movie_df.csv")
#fem = pd.read_csv("fem.csv")
#new_list= pd.read_csv("new_list.csv")

##Dropping columns

In [2]:
male.drop(columns=['runtime','spoken_languages', 'original_title', 'release_date', 'poster_path'], inplace=True)
#fem.drop(columns= ["Unnamed: 0",'runtime'], inplace=True)
#fem_250.drop(columns= ["Unnamed: 0", 'runtime'], inplace=True)
#new_list.drop(columns= ["Unnamed: 0", 'runtime'], inplace=True)

In [3]:
male

,genres,id,original_language,overview,popularity,production_companies,production_countries,title,vote_average,vote_count,cast,crew,year,director,director_gender
0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11860,English,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",Sabrina,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male
1,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",12110,English,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",Dracula: Dead and Loving It,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1408,English,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",Cutthroat Island,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male
3,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",524,English,The life of the gambling paradise â€“ Las Vegas ...,10.137389,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",Casino,7.8,1343.0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",1995,Martin Scorsese,male
4,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4584,English,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,"[{'name': 'Columbia Pictures Corporation', 'id...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",Sense and Sensibility,7.2,364.0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",1995,Ang Lee,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9773,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",365432,English,The Sublet is a suspense driven psychological ...,1.339355,"[{'name': 'Black Fawn Films', 'id': 9315}, {'n...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",The Sublet,6.5,4.0,"[{'cast_id': 1, 'character': 'Joanna', 'credit...","[{'credit_id': '562e344bc3a3681b5c00ab29', 'de...",2015,John Ainslie,male
9774,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",45527,English,A stranger named Silas flees from a devastatin...,1.270832,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",The Final Storm,3.7,11.0,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",2010,Uwe Boll,male
9775,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",39562,English,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,[],"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",To Be Fat Like Me,5.0,12.0,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",2007,Douglas Barr,male
9776,"[{'id': 35, 'name': 'Comedy'}]",14008,English,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",Cadet Kelly,5.2,145.0,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male
9777,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,English,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",Robin Hood,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male

In [4]:
#No null values 
male.isna().sum()

genres                  0
id                      0
original_language       0
overview                0
popularity              0
production_companies    0
production_countries    0
title                   0
vote_average            0
vote_count              0
cast                    0
crew                    0
year                    0
director                0
director_gender         0
dtype: int64

In [5]:
male.drop_duplicates(subset='id', inplace=True)
male['id'].value_counts()

11860     1
167956    1
68744     1
44023     1
84508     1
         ..
43389     1
14298     1
9381      1
16182     1
30840     1
Name: id, Length: 9769, dtype: int64

In [6]:
male['vote_average'].sort_values()

6057     0.0
3785     0.0
8053     0.0
9301     0.0
3081     0.0
        ...
8434    10.0
5357    10.0
4987    10.0
3960    10.0
7827    10.0
Name: vote_average, Length: 9769, dtype: float64

In [7]:
# I decided to drop this column, as well as "vote_count" because I saw that "Call Me by Your Name", a very popular film, had a vote average 0. I will keep the column "popularity" which is more reliable, with a value of 4.300874.
male[male['vote_average'] == 0.0]
male.drop(columns=['vote_average','vote_count'], inplace=True)

In [8]:
#I checked the relevance of "popularity" column by checking the movies with lowest and highest rates.
male['popularity'].sort_values()
male['popularity'].sort_values(ascending=False)
male.loc[9462]

genres                  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
id                                                                 339403
original_language                                                 English
overview                After being coerced into working for a crime b...
popularity                                                     228.032744
production_companies    [{'name': 'Big Talk Productions', 'id': 443}, ...
production_countries    [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
title                                                         Baby Driver
cast                    [{'cast_id': 9, 'character': 'Baby', 'credit_i...
crew                    [{'credit_id': '55c58c009251417a21000e5d', 'de...
year                                                                 2017
director                                                     Edgar Wright
director_gender                                                      male
Name: 9462, dtype: object

In [9]:
#new_list.isna().sum()

##Cleaning the columns

In [14]:
def fix_genres_names(x):
    x = str(x)
    genres = []
    
    if 'Comedy' in x:
        genres.append('Comedy')
    if 'Action' in x:
        genres.append('Action')
    if 'Drama' in x:
        genres.append('Drama')
    if 'Crime' in x:
        genres.append('Crime')
    if 'Romance' in x:
        genres.append('Romance')
    if 'Adventure' in x:
        genres.append('Adventure')
    if 'Thriller' in x:
        genres.append('Thriller')
    if 'Fantasy' in x:
        genres.append('Fantasy')
    if 'Science Fiction' in x:
        genres.append('Science Fiction')
    if 'History' in x:
        genres.append('History')
    if 'War' in x:
        genres.append('War')
    if 'Foreign' in x:
        genres.append('Foreign')
    if 'Mystery' in x:
        genres.append('Mystery')
    if 'Family' in x:
        genres.append('Family')
    if 'Documentary' in x:
        genres.append('Documentary')
    if 'Horror' in x:
        genres.append('Horror')
    if 'Animation' in x:
        genres.append('Animation')
    if 'Western' in x:
        genres.append('Western')
    if 'Music' in x:
        genres.append('Music')
    if 'TV Movie' in x:
        genres.append('TV Movie')
    
    if genres:
        return ', '.join(genres)
    else:
        return 'Unknown'

In [11]:
male['genres'] = male['genres'].apply(fix_genres_names)

In [20]:
    def fix_countries(x):
        x = str(x)
        genres = []
    
        if 'Germany' in x:
            genres.append('Germany')
        if 'France' in x:
            genres.append('France')
        if 'United Kingdom' in x:
            genres.append('United Kingdom')
        if 'Italy' in x:
            genres.append('Italy')
        if 'China' in x:
            genres.append('China')
        if 'United States of America' in x:
            genres.append('United States of America')
        if 'Canada' in x:
            genres.append('Canada')
        if 'Belgium' in x:
            genres.append('Belgium')
        if 'Iran' in x:
            genres.append('Iran')
        if 'Hong Kong' in x:
            genres.append('Hong Kong')
        if 'Dominican Republic' in x:
            genres.append('Dominican Republic')
        if 'Ireland' in x:
            genres.append('Ireland')
        if 'Taiwan' in x:
            genres.append('Taiwan')
        if 'New Zealand' in x:
            genres.append('New Zealand')
        if 'Mexico' in x:
            genres.append('Mexico')
        if 'Japan' in x:
            genres.append('Japan')
        if 'Peru' in x:
            genres.append('Peru')
        if 'Australia' in x:
            genres.append('Australia')
        if 'South Africa' in x:
            genres.append('South Africa')
        if 'Denmark' in x:
            genres.append('Denmark')
        if 'Finland' in x:
            genres.append('Finland')
        if 'Spain' in x:
            genres.append('Spain')
        if 'Sweden' in x:
            genres.append('Sweden')
        if 'South Korea' in x:
            genres.append('South Korea')
        if 'Sweden' in x:
            genres.append('Sweden')
        if 'Argentina' in x:
            genres.append('Argentina')
        if 'Hungary' in x:
            genres.append('Hungary')
        if 'Austria' in x:
            genres.append('Austria')
        if 'Czech Republic' in x:
            genres.append('Czech Republic')
        if 'Vietnam' in x:
            genres.append('Vietnam')
        if 'Switzerland' in x:
            genres.append('Switzerland')
        if 'Trinidad and Tobago' in x:
            genres.append('Trinidad and Tobago')
        if 'Portugal' in x:
            genres.append('Portugal')
        if 'Russia' in x:
            genres.append('Russia')
        if 'India' in x:
            genres.append('India')
        if 'Brazil' in x:
            genres.append('Brazil')
        if 'Norway' in x:
            genres.append('Norway')
        if 'Aruba' in x:
            genres.append('Aruba')
        if 'Israel' in x:
            genres.append('Israel')
        if 'Luxembourg' in x:
            genres.append('Luxembourg')
        if 'Poland' in x:
            genres.append('Poland')
        if 'Cuba' in x:
            genres.append('Cuba')
        if 'Malaysia' in x:
            genres.append('Malaysia')
        if 'Bulgaria' in x:
            genres.append('Bulgaria')
        if 'Serbia' in x:
            genres.append('Serbia')
        if 'Greece' in x:
            genres.append('Greecee')
        if 'Thailand' in x:
            genres.append('Thailand')
        if 'Cameroon' in x:
            genres.append('Cameroon')
        if 'Colombia' in x:
            genres.append('Colombia')
        if 'Netherlands' in x:
            genres.append('Netherlands')
        if 'Philippines' in x:
            genres.append('Philippines')
        if 'Libyan Arab Jamahiriya' in x:
            genres.append('Libyan Arab Jamahiriya')
        if 'Iceland' in x:
            genres.append('Iceland')
        if 'Soviet Union' in x:
            genres.append('Soviet Union')
        if 'Turkey' in x:
            genres.append('Turkey')
        if 'Singapore' in x:
            genres.append('Singapore')
        if 'Bosnia and Herzegovina' in x:
            genres.append('Bosnia and Herzegovina')
        if 'Czechoslovakia' in x:
            genres.append('Czechoslovakia')
        if 'Martinique' in x:
            genres.append('Martinique')
        if 'Romania' in x:
            genres.append('Romania')
        if 'Armenia' in x:
            genres.append('Armenia')
        if 'Egypt' in x:
            genres.append('Egypt')
        if 'Indonesia' in x:
            genres.append('Indonesia')
        if 'Chile' in x:
            genres.append('Chile')
        if 'Monaco' in x:
            genres.append('Monaco')
        if 'Uruguay' in x:
            genres.append('Uruguay')
        if 'Algeria' in x:
            genres.append('Algeria')
        if 'Lithuania' in x:
            genres.append('Lithuania')
        if 'Palestinian Territory' in x:
            genres.append('Palestinian Territory')
        if 'East Germany' in x:
            genres.append('East Germany')
        if 'Morocco' in x:
            genres.append('Morocco')
        if 'Lebanon' in x:
            genres.append('Lebanon')
        if 'Latvia' in x:
            genres.append('Latvia')
        if 'United Arab Emirates' in x:
            genres.append('United Arab Emirates')
        if 'Slovenia' in x:
            genres.append('Slovenia')
        if 'Cambodia' in x:
            genres.append('Cambodia')
        if 'Botswana' in x:
            genres.append('Botswana')
        if 'Pakistan' in x:
            genres.append('Pakistan')
        if 'Congo' in x:
            genres.append('Congo')
        if 'Tanzania' in x:
            genres.append('Tanzania')
        if 'Bolivia' in x:
            genres.append('Bolivia')
        if 'Kazakhstan' in x:
            genres.append('Kazakhstan')
        if 'Ethiopia' in x:
            genres.append('Ethiopia')
        if 'Qatar' in x:
            genres.append('Qatar')
        if 'Tajikistan' in x:
            genres.append('Tajikistan')
        if 'Belarus' in x:
            genres.append('Belarus')
        if 'Estonia' in x:
            genres.append('Estonia')
        if 'Georgia' in x:
            genres.append('Georgia')
        if 'Mauritania' in x:
            genres.append('Mauritania')
        if 'Burkina Faso' in x:
            genres.append('Burkina Faso')
        if 'Afghanistan' in x:
            genres.append('Afghanistan')
        if 'Croatia' in x:
            genres.append('Croatia')
        if 'Yugoslavia' in x:
            genres.append('Yugoslavia')
        if 'Malta' in x:
            genres.append('Malta')
        if 'Nicaragua' in x:
            genres.append('Nicaragua')
        if 'Ukraine' in x:
            genres.append('Ukraine')
        if 'Venezuela' in x:
            genres.append('Venezuela')
        if 'Iraq' in x:
            genres.append('Iraq')
        if 'Liechtenstein' in x:
            genres.append('Liechtenstein')
        if 'Albania' in x:
            genres.append('Albania')
        if 'Macedonia' in x:
            genres.append('Macedonia')
        if genres:
            return ', '.join(genres)
        else:
            return 'Unknown'

In [21]:
male['production_countries'] = male['production_countries'].apply(fix_countries)

In [22]:
male

,genres,id,original_language,overview,popularity,production_companies,production_countries,title,cast,crew,year,director,director_gender
0,"Comedy, Romance",11860,English,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","Germany, United States of America",Sabrina,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male
1,"Comedy, Horror",12110,English,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","France, United States of America",Dracula: Dead and Loving It,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male
2,"Action, Adventure",1408,English,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","Germany, France, Italy, United States of America",Cutthroat Island,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male
3,"Drama, Crime",524,English,The life of the gambling paradise â€“ Las Vegas ...,10.137389,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","France, United States of America",Casino,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",1995,Martin Scorsese,male
4,"Drama, Romance",4584,English,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,"[{'name': 'Columbia Pictures Corporation', 'id...","United Kingdom, United States of America",Sense and Sensibility,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",1995,Ang Lee,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9773,"Drama, Thriller, Mystery, Horror",365432,English,The Sublet is a suspense driven psychological ...,1.339355,"[{'name': 'Black Fawn Films', 'id': 9315}, {'n...",Canada,The Sublet,"[{'cast_id': 1, 'character': 'Joanna', 'credit...","[{'credit_id': '562e344bc3a3681b5c00ab29', 'de...",2015,John Ainslie,male
9774,"Action, Thriller, Mystery, Horror",45527,English,A stranger named Silas flees from a devastatin...,1.270832,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"Germany, Canada",The Final Storm,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",2010,Uwe Boll,male
9775,"Drama, Family, TV Movie",39562,English,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,[],Canada,To Be Fat Like Me,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",2007,Douglas Barr,male
9776,Comedy,14008,English,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...","United States of America, Canada",Cadet Kelly,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male
9777,"Action, Drama, Romance",30840,English,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","Germany, United Kingdom, United States of Amer...",Robin Hood,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male

In [ ]:
male

,genres,id,original_language,overview,popularity,production_companies,production_countries,title,cast,crew,year,director,director_gender
0,"Comedy, Romance",11860,English,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",Sabrina,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male
1,"Comedy, Horror",12110,English,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",Dracula: Dead and Loving It,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male
2,"Action, Adventure",1408,English,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",Cutthroat Island,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male
3,"Drama, Crime",524,English,The life of the gambling paradise â€“ Las Vegas ...,10.137389,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",Casino,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",1995,Martin Scorsese,male
4,"Drama, Romance",4584,English,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,"[{'name': 'Columbia Pictures Corporation', 'id...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",Sense and Sensibility,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",1995,Ang Lee,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9773,"Drama, Thriller, Mystery, Horror",365432,English,The Sublet is a suspense driven psychological ...,1.339355,"[{'name': 'Black Fawn Films', 'id': 9315}, {'n...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",The Sublet,"[{'cast_id': 1, 'character': 'Joanna', 'credit...","[{'credit_id': '562e344bc3a3681b5c00ab29', 'de...",2015,John Ainslie,male
9774,"Action, Thriller, Mystery, Horror",45527,English,A stranger named Silas flees from a devastatin...,1.270832,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",The Final Storm,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",2010,Uwe Boll,male
9775,"Drama, Family, TV Movie",39562,English,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,[],"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",To Be Fat Like Me,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",2007,Douglas Barr,male
9776,Comedy,14008,English,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",Cadet Kelly,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male
9777,"Action, Drama, Romance",30840,English,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",Robin Hood,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male

In [ ]:
#fem_250['releasedate'] = fem_250['releasedate'].str.extract(r'(\d{4})')
#fem['releasedate'] = fem['releasedate'].str.extract(r'(\d{4})')
#new_list['releasedate'] = new_list['releasedate'].str.extract(r'(\d{4})')

In [ ]:
#fem_250.rename(columns={'votecount':'vote_count', 'voteavg':'vote_average'}, inplace=True)
#fem.rename(columns={'votecount':'vote_count', 'voteavg':'vote_average'}, inplace=True)
#new_list.rename(columns={'votecount':'vote_count', 'voteavg':'vote_average'}, inplace=True)

In [ ]:
#df['column_name'] = df['column_name'].str.split("'name': ").str[1].str.strip("'}")

In [ ]:

# Extract the names and create new columns
male['prod_countries'] = male['production_countries'].str.extract(r"'name': '([^']*)'")
#fem['prod_countries'] = fem['prod_country'].str.extract(r"'name': '([^']*)'")
#fem_250['prod_countries'] = fem_250['prod_country'].str.extract(r"'name': '([^']*)'")
#new_list['prod_countries'] = new_list['prod_country'].str.extract(r"'name': '([^']*)'")

# Print the updated dataframe

In [ ]:
#male.drop(columns= 'prod_countries', inplace=True)
#fem.drop(columns= 'prod_country', inplace=True)
#fem_250.drop(columns= 'prod_country', inplace=True)
#new_list.drop(columns= 'prod_country', inplace=True)

In [ ]:
male = male[male['director_gender'] == 'male']

In [ ]:
female = male[male['director_gender'] == 'female']
female

Empty DataFrame
Columns: [genres, id, original_language, overview, popularity, production_companies, production_countries, title, cast, crew, year, director, director_gender, prod_countries]
Index: []

In [ ]:
final_male = male 
final_female = female

In [ ]:
final_male.drop(columns= [ 'poster_path','crew','cast', 'director','production_companies', 'popularity','overview'], inplace=True)
final_female.drop(columns= [ 'poster_path','crew','cast', 'director_gender' ,'director', 'production_companies', 'popularity','overview'], inplace=True)

KeyError: "['poster_path'] not found in axis"

In [ ]:
#final_fem = fem 
#final_fem_250 = fem_250
#final_new_list = new_list

In [ ]:
#final_fem_250.drop(columns= [ 'languages'], inplace=True)
#final_fem.drop(columns= [ 'languages'], inplace=True)
#final_new_list.drop(columns= [ 'languages'], inplace=True)

In [ ]:
female_directed = pd.concat([final_fem_250, final_fem, final_fem2, final_new_list])

In [ ]:
female_directed.drop_duplicates(subset='ID', inplace=True)

In [ ]:
female_directed['title'].value_counts()

Cinderella                   4
The Secret                   3
Little Women                 3
Eden                         3
The Intruder                 3
                            ..
Countdown to Zero            1
Lemon                        1
FrÃ¼hling im Herbst           1
Approaching the Elephant     1
Here the Seats Are Vacant    1
Name: title, Length: 5738, dtype: int64

In [ ]:
female_directed

,ID,title,genres,releasedate,vote_count,vote_average,prod_countries
0,499,ClÃ©o from 5 to 7,Drama,1962,543.0,7.708,France
1,531428,Portrait of a Lady on Fire,"Drama, Romance",2019,2073.0,8.184,France
2,336804,Mustang,Drama,2015,1266.0,7.778,France
3,153,Lost in Translation,"Comedy, Drama, Romance",2003,6523.0,7.395,Japan
4,44012,"Jeanne Dielman, 23, quai du Commerce, 1080 Bru...",Drama,1976,220.0,7.339,Belgium
...,...,...,...,...,...,...,...
5482,251339,The Days with Him,Documentary,2014,1.0,7.000,Brazil
5483,323687,Thank You and Good Night,Documentary,1992,0.0,0.000,United Kingdom
5484,812037,Last Summer,"Drama, Thriller",2023,2.0,5.000,France
5485,938250,Club Zero,"Drama, Thriller",2023,4.0,4.250,Austria
5486,500707,Here the Seats Are Vacant,Documentary,2016,0.0,0.000,Iran

In [ ]:
final_male.to_csv('male_directed_clean.csv')

In [ ]:
female_directed['releasedate'] = female_directed['releasedate'].str.split('.').str[0]

In [ ]:
female_directed

,ID,title,genres,releasedate,vote_count,vote_average,prod_countries
0,499,ClÃ©o from 5 to 7,Drama,1962,543.0,7.708,France
1,531428,Portrait of a Lady on Fire,"Drama, Romance",2019,2073.0,8.184,France
2,336804,Mustang,Drama,2015,1266.0,7.778,France
3,153,Lost in Translation,"Comedy, Drama, Romance",2003,6523.0,7.395,Japan
4,44012,"Jeanne Dielman, 23, quai du Commerce, 1080 Bru...",Drama,1976,220.0,7.339,Belgium
...,...,...,...,...,...,...,...
5482,251339,The Days with Him,Documentary,2014,1.0,7.000,Brazil
5483,323687,Thank You and Good Night,Documentary,1992,0.0,0.000,United Kingdom
5484,812037,Last Summer,"Drama, Thriller",2023,2.0,5.000,France
5485,938250,Club Zero,"Drama, Thriller",2023,4.0,4.250,Austria
5486,500707,Here the Seats Are Vacant,Documentary,2016,0.0,0.000,Iran

In [ ]:
female_directed.dropna(inplace=True)

In [ ]:
female_directed

,ID,title,genres,releasedate,vote_count,vote_average,prod_countries
0,499,ClÃ©o from 5 to 7,Drama,1962,543.0,7.708,France
1,531428,Portrait of a Lady on Fire,"Drama, Romance",2019,2073.0,8.184,France
2,336804,Mustang,Drama,2015,1266.0,7.778,France
3,153,Lost in Translation,"Comedy, Drama, Romance",2003,6523.0,7.395,Japan
4,44012,"Jeanne Dielman, 23, quai du Commerce, 1080 Bru...",Drama,1976,220.0,7.339,Belgium
...,...,...,...,...,...,...,...
5482,251339,The Days with Him,Documentary,2014,1.0,7.000,Brazil
5483,323687,Thank You and Good Night,Documentary,1992,0.0,0.000,United Kingdom
5484,812037,Last Summer,"Drama, Thriller",2023,2.0,5.000,France
5485,938250,Club Zero,"Drama, Thriller",2023,4.0,4.250,Austria
5486,500707,Here the Seats Are Vacant,Documentary,2016,0.0,0.000,Iran

In [ ]:
female_directed.dropna(subset=['prod_countries'], inplace=True)
female_directed.isna().sum()

ID                0
title             0
genres            0
releasedate       0
vote_count        0
vote_average      0
prod_countries    0
dtype: int64

In [ ]:
male.to_csv('male_clean.csv')

In [ ]:
female_directed.to_csv('female_directed_clean.csv')

In [ ]:

#import pymysql.cursors
#from sqlalchemy import create_engine
#from sqlalchemy import text
#
#
#import getpass
#
#sql_pass = getpass.getpass()
#
#
#connection_string = 'mysql+pymysql://root:' + sql_pass + '@localhost:3306/sdi'
#engine = create_engine(connection_string)
#

In [ ]:
#female_directed.to_sql('tree_census', engine, 'sdi', if_exists='replace', index=False)

4723