In [42]:
import pandas as pd
films = pd.read_csv('films_clean.csv')

In [43]:
films.rename(columns= {'id':'film_id', 'title': 'film_title'}, inplace=True)

In [44]:
films.to_csv('male_clean.csv', index=False)

In [45]:
films_ = films.copy()
films_['genres'] = films_['genres'].str.split(',')

In [46]:
films_exploded = films_.explode('genres')

In [47]:
films_['genres'] = films_['genres'].str.split(',')

In [48]:
films_['production_countries'] = films_['production_countries'].str.split(',')

In [49]:
films_exploded_countries = films_.explode('production_countries')

In [50]:
films_exploded_countries

,genres,film_id,original_language,original_title,overview,popularity,production_companies,production_countries,runtime,spoken_languages,...,vote_average,vote_count,cast,crew,year,director,director_gender,prod_countries,director_id,rating_id
0,NaN,11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",Germany,127.0,2,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany,1,1
0,NaN,11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",United States of America,127.0,2,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany,1,1
1,NaN,12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",France,88.0,2,...,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France,2,2
1,NaN,12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",United States of America,88.0,2,...,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France,2,2
2,NaN,1408,English,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...",Germany,119.0,2,...,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male,France,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9579,NaN,14008,English,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...",Canada,101.0,1,...,5.2,145.0,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male,Canada,3734,9483
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",Germany,104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",United Kingdom,104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",United States of America,104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",Canada,104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484

## Creating new IDs

## Genres

In [51]:
#male['genre_id'] = pd.factorize(male['genres'])[0]+1

In [52]:
##male['genre_id'].value_counts()
#male['genres'].value_counts()

## Directors

In [ ]:
films['director_id'] = pd.factorize(films['director'])[0]+1

In [ ]:
films['director'].value_counts()
films['director_id'].value_counts()

400     44
186     39
204     36
671     29
200     28
        ..
2316     1
2315     1
2314     1
2312     1
3734     1
Name: director_id, Length: 3734, dtype: int64

## Countries

In [ ]:
#films['country_id'] = pd.factorize(films['production_countries'])[0]+1

## Ratings

In [ ]:
films['rating_id'] = pd.factorize(films['popularity'])[0]+1

## Creating new dataframes

## Films

In [ ]:
#films = male[['film_id', 'film_title','original_language', 'overview', 'year']].copy()
#films.drop_duplicates(inplace=True)

## Genres

In [ ]:
films_exploded_countries

,genres,film_id,original_language,original_title,overview,popularity,production_companies,production_countries,runtime,spoken_languages,film_title,vote_average,vote_count,cast,crew,year,director,director_gender,prod_countries
0,NaN,11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",Germany,127.0,2,Sabrina,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany
0,NaN,11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",United States of America,127.0,2,Sabrina,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany
1,NaN,12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",France,88.0,2,Dracula: Dead and Loving It,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France
1,NaN,12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",United States of America,88.0,2,Dracula: Dead and Loving It,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France
2,NaN,1408,English,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...",Germany,119.0,2,Cutthroat Island,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9579,NaN,14008,English,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...",Canada,101.0,1,Cadet Kelly,5.2,145.0,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male,Canada
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",Germany,104.0,1,Robin Hood,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",United Kingdom,104.0,1,Robin Hood,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",United States of America,104.0,1,Robin Hood,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada
9580,NaN,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",Canada,104.0,1,Robin Hood,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada

In [ ]:
countries_table = pd.DataFrame(columns = ['country_id','country'])
for i, country in enumerate(set(films_exploded_countries['production_countries'].str.strip())):
    countries_table.loc[i] = {'country_id':i, 'country':country}

In [ ]:
countries_table

    country_id         country
0            0   Liechtenstein
1            1     Netherlands
2            2            Iraq
3            3        Botswana
4            4          Canada
..         ...             ...
95          95           Japan
96          96  Czech Republic
97          97    East Germany
98          98           India
99          99  Czechoslovakia

[100 rows x 2 columns]

In [ ]:
film_country_table = films_exploded_countries
film_country_table = film_country_table.merge(countries_table, left_on='production_countries', right_on='country')
film_country_table = film_country_table[['film_id','country_id']]

In [ ]:
film_country_table

      film_id  country_id
0       11860          66
1        1408          66
2         902          66
3       63076          66
4       11907          66
...       ...         ...
9576   341007          84
9577   369364          84
9578   254664          30
9579    75450          75
9580   108827          60

[9581 rows x 2 columns]

In [ ]:
#genres = male[['genres', 'genre_id', 'film_id']].copy()
#genres.drop_duplicates(inplace=True)

In [ ]:
genres_table = pd.DataFrame(columns = ['genre_id','genre'])
for i, genre in enumerate(set(films_exploded['genres'].str.strip())):
    genres_table.loc[i] = {'genre_id':i, 'genre':genre}

In [53]:
genres_table.drop_duplicates(inplace=True)

In [54]:
films

,genres,film_id,original_language,original_title,overview,popularity,production_companies,production_countries,runtime,spoken_languages,...,vote_average,vote_count,cast,crew,year,director,director_gender,prod_countries,director_id,rating_id
0,"Comedy, Romance",11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","Germany, United States of America",127.0,2,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany,1,1
1,"Comedy, Horror",12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","France, United States of America",88.0,2,...,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France,2,2
2,"Action, Adventure",1408,English,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","Germany, France, Italy, United States of America",119.0,2,...,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male,France,3,3
3,"Drama, Crime",524,English,Casino,The life of the gambling paradise – Las Vegas ...,10.137389,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","France, United States of America",178.0,1,...,7.8,1343.0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",1995,Martin Scorsese,male,France,4,4
4,"Drama, Romance",4584,English,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,"[{'name': 'Columbia Pictures Corporation', 'id...","United Kingdom, United States of America",136.0,1,...,7.2,364.0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",1995,Ang Lee,male,United Kingdom,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9576,"Drama, Thriller, Mystery, Horror",365432,English,The Sublet,The Sublet is a suspense driven psychological ...,1.339355,"[{'name': 'Black Fawn Films', 'id': 9315}, {'n...",Canada,82.0,2,...,6.5,4.0,"[{'cast_id': 1, 'character': 'Joanna', 'credit...","[{'credit_id': '562e344bc3a3681b5c00ab29', 'de...",2015,John Ainslie,male,Canada,3732,9480
9577,"Action, Thriller, Mystery, Horror",45527,English,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"Germany, Canada",92.0,1,...,3.7,11.0,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",2010,Uwe Boll,male,Canada,1440,9481
9578,"Drama, Family, TV Movie",39562,English,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,[],Canada,89.0,1,...,5.0,12.0,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",2007,Douglas Barr,male,Canada,3733,9482
9579,Comedy,14008,English,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...","United States of America, Canada",101.0,1,...,5.2,145.0,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male,Canada,3734,9483
9580,"Action, Drama, Romance",30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","Germany, United Kingdom, United States of Amer...",104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484

In [ ]:
genres_table

    genre_id            genre
0          0        Adventure
1          1  Science Fiction
2          2        Animation
3          3           Action
4          4          Romance
5          5            Music
6          6            Crime
7          7              War
8          8          Fantasy
9          9          Foreign
10        10           Comedy
11        11          History
12        12           Horror
13        13      Documentary
14        14          Western
15        15          Mystery
16        16           Family
17        17         Thriller
18        18         TV Movie
19        19            Drama

In [ ]:
films.head(3)

,genres,film_id,original_language,original_title,overview,popularity,production_companies,production_countries,runtime,spoken_languages,...,vote_average,vote_count,cast,crew,year,director,director_gender,prod_countries,director_id,rating_id
0,"Comedy, Romance",11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","Germany, United States of America",127.0,2,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany,1,1
1,"Comedy, Horror",12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","France, United States of America",88.0,2,...,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France,2,2
2,"Action, Adventure",1408,English,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","Germany, France, Italy, United States of America",119.0,2,...,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male,France,3,3

In [ ]:
films_table = films[['film_id', 'film_title','original_language', 'overview', 'year', 'popularity', 'director_id']].copy()
films_table.drop_duplicates(inplace=True)

In [72]:
film_genre_table = films_exploded
films_exploded['genres'] = films_exploded['genres'].str.strip()
film_genre_table = film_genre_table.merge(genres_table, left_on='genres', right_on='genre')
film_genre_table = film_genre_table[['film_id','genre_id']]

In [71]:
films_exploded

,genres,film_id,original_language,original_title,overview,popularity,production_companies,production_countries,runtime,spoken_languages,...,vote_average,vote_count,cast,crew,year,director,director_gender,prod_countries,director_id,rating_id
0,Comedy,11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","Germany, United States of America",127.0,2,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany,1,1
0,Romance,11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","Germany, United States of America",127.0,2,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany,1,1
1,Comedy,12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","France, United States of America",88.0,2,...,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France,2,2
1,Horror,12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","France, United States of America",88.0,2,...,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France,2,2
2,Action,1408,English,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","Germany, France, Italy, United States of America",119.0,2,...,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male,France,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9578,TV Movie,39562,English,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,[],Canada,89.0,1,...,5.0,12.0,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",2007,Douglas Barr,male,Canada,3733,9482
9579,Comedy,14008,English,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...","United States of America, Canada",101.0,1,...,5.2,145.0,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male,Canada,3734,9483
9580,Action,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","Germany, United Kingdom, United States of Amer...",104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484
9580,Drama,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","Germany, United Kingdom, United States of Amer...",104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484
9580,Romance,30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","Germany, United Kingdom, United States of Amer...",104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484

In [73]:
film_genre_table.shape

(20881, 2)

In [77]:
film_genre_table[film_genre_table['film_id'] == 11860]

      film_id  genre_id
0       11860        10
2534    11860         4

## Ratings

In [ ]:
ratings = films[['film_id', 'popularity', 'rating_id']].copy()
ratings.drop_duplicates(inplace=True)

## Countries

In [ ]:
#countries = films[['film_id', 'production_countries', 'country_id']]
#countries.drop_duplicates(inplace=True)

## Directors

In [ ]:
directors = films[['director_id', 'director_gender', 'director', 'film_id']].copy()
directors.drop_duplicates(inplace=True)

In [ ]:
directors

      director_id director_gender          director
0               1            male    Sydney Pollack
1               2            male        Mel Brooks
2               3            male      Renny Harlin
3               4            male   Martin Scorsese
4               5            male           Ang Lee
...           ...             ...               ...
9572         3730            male  Vladimir Mashkov
9574         3731          female    Olga Subbotina
9576         3732            male      John Ainslie
9578         3733            male      Douglas Barr
9579         3734            male        Larry Shaw

[3734 rows x 3 columns]

In [ ]:
films

,genres,film_id,original_language,original_title,overview,popularity,production_companies,production_countries,runtime,spoken_languages,...,vote_average,vote_count,cast,crew,year,director,director_gender,prod_countries,director_id,rating_id
0,"Comedy, Romance",11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","Germany, United States of America",127.0,2,...,6.2,141.0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",1995,Sydney Pollack,male,Germany,1,1
1,"Comedy, Horror",12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","France, United States of America",88.0,2,...,5.7,210.0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",1995,Mel Brooks,male,France,2,2
2,"Action, Adventure",1408,English,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","Germany, France, Italy, United States of America",119.0,2,...,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1995,Renny Harlin,male,France,3,3
3,"Drama, Crime",524,English,Casino,The life of the gambling paradise – Las Vegas ...,10.137389,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","France, United States of America",178.0,1,...,7.8,1343.0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",1995,Martin Scorsese,male,France,4,4
4,"Drama, Romance",4584,English,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,"[{'name': 'Columbia Pictures Corporation', 'id...","United Kingdom, United States of America",136.0,1,...,7.2,364.0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",1995,Ang Lee,male,United Kingdom,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9576,"Drama, Thriller, Mystery, Horror",365432,English,The Sublet,The Sublet is a suspense driven psychological ...,1.339355,"[{'name': 'Black Fawn Films', 'id': 9315}, {'n...",Canada,82.0,2,...,6.5,4.0,"[{'cast_id': 1, 'character': 'Joanna', 'credit...","[{'credit_id': '562e344bc3a3681b5c00ab29', 'de...",2015,John Ainslie,male,Canada,3732,9480
9577,"Action, Thriller, Mystery, Horror",45527,English,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"Germany, Canada",92.0,1,...,3.7,11.0,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",2010,Uwe Boll,male,Canada,1440,9481
9578,"Drama, Family, TV Movie",39562,English,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,[],Canada,89.0,1,...,5.0,12.0,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",2007,Douglas Barr,male,Canada,3733,9482
9579,Comedy,14008,English,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...","United States of America, Canada",101.0,1,...,5.2,145.0,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",2002,Larry Shaw,male,Canada,3734,9483
9580,"Action, Drama, Romance",30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","Germany, United Kingdom, United States of Amer...",104.0,1,...,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",1991,John Irvin,male,Canada,83,9484

## Exporting CSVs

In [ ]:

#import pymysql.cursors
#from sqlalchemy import create_engine
#from sqlalchemy import text
#
#
#import getpass
#sql_pass = getpass.getpass()
#
#
#connection_string = 'mysql+pymysql://root:' + sql_pass + '@localhost:3306/films_data'
#engine = create_engine(connection_string)

In [ ]:
#genres_table.to_sql('genres',engine, 'films_data', if_exists='replace', index=False)
#countries_table.to_sql('countries', engine,'films_data', if_exists='replace', index=False)
#directors.to_sql('directors',engine, 'films_data', if_exists='replace', index=False)
#film_genre_table.to_sql('film_genre',engine, 'films_data', if_exists='replace', index=False)
#films_table.to_sql('films',engine, 'films_data', if_exists='replace', index=False)
#film_country_table.to_sql('film_country',engine, 'films_data', if_exists='replace', index=False)

In [ ]:
films.to_csv('films_clean.csv', index=False)

In [78]:
film_genre_table.to_csv('film_genres.csv', index=False)

In [86]:
genres_table.to_csv('genres_names.csv', index=False)

In [83]:
[[genres]]

[[[    genre_id            genre
   0          0        Adventure
   1          1  Science Fiction
   2          2        Animation
   3          3           Action
   4          4          Romance
   5          5            Music
   6          6            Crime
   7          7              War
   8          8          Fantasy
   9          9          Foreign
   10        10           Comedy
   11        11          History
   12        12           Horror
   13        13      Documentary
   14        14          Western
   15        15          Mystery
   16        16           Family
   17        17         Thriller
   18        18         TV Movie
   19        19            Drama,
          film_id  genre_id
   0        11860        10
   1        12110        10
   2        11010        10
   3         4482        10
   4        40154        10
   ...        ...       ...
   20876    68954        18
   20877   447061        18
   20878    46203        18
   20879    32593        18
   20880    39562        18

   [20881 rows x 2 columns]]]]